<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
    <header id="header" class="py-3 mb-3 border-bottom ">
        <div class="container container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <b>BACONTREE</b>
<!--                    <svg class="bi me-2" width="40" height="32">-->
<!--                        <use xlink:href="#bootstrap">-->
<!--                        </use>-->
<!--                    </svg> &lt;!&ndash;   로고 들어가는 부분     &ndash;&gt;-->
                </a>
            </div>

            <div class="d-flex align-items-center">
                <form class="w-100 me-3" role="search">
                    <input type="search" class="form-control" placeholder="검색" aria-label="Search">
                </form>
<!--                <div class="bacon-header-icon">-->
<!--                    <span class="material-icons-outlined">add_box</span>-->
<!--                    <span class="material-icons-outlined">explore</span>-->
<!--                    <span class="material-icons-outlined">favorite_border</span>-->
<!--                </div>-->
                <div class="flex-shrink-0 dropdown">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://mblogthumb-phinf.pstatic.net/MjAxNzA2MTFfMjc1/MDAxNDk3MTcyMDgyNzEw.ID5RyHWKvsVEW2NS9EQGyRYX7vUaXr7znQeuTrRRmdIg.gK7MD7VhNJPkV4_dueiWer2y-oH7NAAmEklF-6bbYyQg.JPEG.jejubyeol/%EC%97%AC%EB%A6%84%EC%97%90_%EC%A0%9C%EC%A3%BC%EB%8F%84_%EC%82%AC%EC%A7%84%EC%B0%8D%EA%B8%B0_%EC%A2%8B%EC%9D%80%EA%B3%B3.jpg?type=w800" alt="mdo" width="32" height="32" class="rounded-circle"> <!--    프로필 사진 부분    -->
                    </a>
                    <ul class="dropdown-menu text-small shadow" style="">
                        <li><a class="dropdown-item" href="#">게시물 등록</a></li>
                        <li><a class="dropdown-item" href="#">프로필 설정</a></li>
                        <li><a class="dropdown-item" href="#">마이페이지</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">로그아웃</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</body>
</html>